<div class="container">
    <div class="row">
        <div class="col">
            <img src="img/sen.jpg" alt="" class="img-tumbnail rounded-circle" width="200px">
            <h1 class="display-4">Rizky Sandy</h1>
            <p class="lead">Student | programmer</p>
        </div>
    </div>
</div>