<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Daftar Produk</h2>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                  </tr>
                </thead>
                <tbody>
                  <% products.forEach((p,i) => { i++ %>
                    <tr>
                      <th scope="row"><%= i++ %></th>
                      <td><%= p.nama %></td>
                      <td><%= p.qty %></td>
                      <td><a href="/" class="btn btn-success badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a></td>
                    </tr>
                    <tr>
                  <% }) %>
                </tbody>
              </table>
        </div>
    </div>
</div>